<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header">
  <!-- 사이드바 메뉴 -->
  <nav class="sidebar-navigation">
    <ul>
      <!-- 공통 메뉴-->
      <li class="active">
        <a th:href="@{/admin/dashboard}">
          <i class="fa-solid fa-house" style="color: white;"></i></a>
        <span class="tooltip">Home</span>
      </li>
      <li>
        <a th:href="@{/employee/new}">
          <i class="fa-solid fa-pen-to-square" style="color: white;"></i></a>
        <span class="tooltip">전자결제(개발중)</span>
      </li>
      <li>
        <a th:href="@{/employee/mypage/{id}(id=${#authentication.principal.employee.id})}">
          <i class="fa-solid fa-user" style="color: white;"></i></a>
        <span class="tooltip">마이페이지</span>
      </li>

      <!--어드민만 볼수있는 메뉴-->
      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/employee/new}">
        <i class="fa-solid fa-pen" style="color: white;"></i></a>
        <span class="tooltip">직원등록</span>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/employee/new}">
        <i class="fa-solid fa-user-group" style="color: white;"></i></a>
        <span class="tooltip">직원리스트</span>
      </li>

      <!--교사만 볼수있는 메뉴-->
      <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
        <a th:href="@{/teacher/dashboard}">
        <i class="fa-solid fa-marker" style="color: white;"></i></a>
        <span class="tooltip">원아/학부모등록</span>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
        <a th:href="@{/manager/dashboard}">
          <i class="fa-solid fa-user-gear" style="color: white;"></i></a>
        <span class="tooltip">원아관리</span>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
        <a th:href="@{/employee/new}">
          <i class="fa-solid fa-landmark" style="color: white;"></i></a>
        <span class="tooltip">교실관리</span>
      </li>

      <!--행정직원만 볼수있는 메뉴-->
      <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
        <a th:href="@{/employee/new}">
        <i class="fa-solid fa-calculator" style="color: white;"></i></a>
        <span class="tooltip">회계관리</span>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
        <a th:href="@{/employee/new}">
        <i class="fa-solid fa-industry" style="color: white;"></i></a>
      <span class="tooltip">자재관리</span>
      </li>
    </ul>
  </nav>
  <!-- 사이드바 종료-->
</header>
</body>
</html>
