<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Pico CSS 적용하기-->
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
<link rel="stylesheet" th:href="@{/css/header.css}">
<script th:src="@{/js/header.js}" defer></script>
<!-- Header -->
<header class="container">
  <nav>
    <h1>어린이집</h1>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">게시판</a>
        <ul class="dropdown-menu">
          <li><a href="/board/basic">자유게시판</a></li>
          <li><a href="/material/materials">자재게시판</a></li>
        </ul>
      </li>
      <li>
        <a href="/calendar">캘린더</a>
      </li>
    </ul>
  </nav>
</header>
</html>