<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout2}">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <link rel="stylesheet" th:href="@{/css/board.css}">
  <script th:src="@{/js/board/board.js}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div layout:fragment="content">
<div class="board-container">
  <div class="board-header">
    <div class="left-section">
      <select class="sort-select">
        <option value="regiDate">최신순</option>
        <option value="views">조회수순</option>
      </select>
      <div class="search-container">
        <form th:action="@{'/board/' + ${type} + '/search'}" method="get">
          <input type="text" name="keyword" th:value="${keyword}" id="searchInput" placeholder="search">
          <button type="submit" id="search-button">검색</button>
        </form>
      </div>
    </div>
    <div class="right-section">
      <button type="button" onclick="location.href='/board/write'" class="write-button">글쓰기</button>
    </div>
  </div>

  <div id="boardList">
    <table class="board-table">
      <thead>
      <tr>
        <th style="width:35%">제목</th>
        <th style="width:25%">작성자</th>
        <th style="width:20%">작성일</th>
        <th style="width:20%">조회</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board, status : ${boards.content}" th:class="${board.boardType == T(com.kinder.kindergarten.constant.board.BoardType).ABSOLUTE ? 'absolute-post' : ''}">
        <td class="title">
          <th:block th:if="${board.boardType.name() == 'ABSOLUTE'}">
              <span class="must-read">필독</span>
          </th:block>
          <a th:href="@{/board/{id}(id=${board.boardId})}" 
             th:text="${board.boardTitle}"
             th:class="${board.boardType == T(com.kinder.kindergarten.constant.board.BoardType).ABSOLUTE ? 'absolute-title' : ''}">
          </a>
          <span th:if="${board.fileCount > 0}" class="file-count">
              <i class="fas fa-file-alt"></i>
              <span th:text="${board.fileCount}"></span>
          </span>
        </td>
        <td th:text="${board.boardWriter}">작성자</td>
        <td th:text="${#temporals.format(board.regiDate,'yyyy.MM.dd HH:mm')}">작성일</td>
        <td th:text="${board.views}">조회수</td>
      </tr>
      </tbody>
    </table>
    <div class="no-result" th:if="${#lists.isEmpty(boards.content)}">
      검색과 일치하는 결과가 없습니다.
    </div>
  </div>

  <div class="pagination" th:if="${boards.totalPages > 0}">
        <span th:each="pageNum : ${#numbers.sequence(0, boards.totalPages - 1)}">
            <a th:href="@{/board/list/common(page=${pageNum +1}, keyword=${keyword})}"
               th:text="${pageNum + 1}"
               th:class="${pageNum == currentPage} ? 'active' : ''">
            </a>
        </span>
  </div>
</div>
</div>
</body>
</html>