<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <link rel="stylesheet" href="/css/employee/certificate.css">
  <meta charset="UTF-8">
  <title>결재 목록</title>
</head>
<div layout:fragment="content">
  <div class="container">
    <h2>전체 결재 목록</h2>
    <table>
      <thead>
      <tr>
        <th>요청일</th>
        <th>요청자</th>
        <th>제목</th>
        <th>구분</th>
        <th>결재자</th>
        <th>상태</th>
        <th>처리일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="approval : ${approvals}">
        <td th:text="${#temporals.format(approval.requestDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${approval.requesterName}"></td>
        <td th:text="${approval.title}"></td>
        <td th:text="${approval.type.getType()}"></td>
        <td th:text="${approval.position}"></td>
        <td th:text="${approval.status.getStatus()}"></td>
        <td th:text="${approval.processDate != null ? #temporals.format(approval.processDate, 'yyyy-MM-dd HH:mm') : '-'}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</html>