<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <link rel="stylesheet" href="/css/employee/leave.css">
  <script src="/js/Employee/Leave.js"></script>
  <meta charset="UTF-8">
  <title>휴가 신청</title>
</head>
<body>
<div layout:fragment="content">
<div class="leave-container">
  <h2>휴가 신청</h2>

  <form th:action="@{/leave/request}" method="post">
    <div th:object="${employeeDTO}">
      <input type="hidden" th:field="*{id}">
    </div>
    <div th:object="${leaveDTO}">
      <input type="hidden" th:field="*{le_total}" id="le_total">
      <div class="form-group">
        <label>시작일</label>
        <input type="date" id="startDate" th:field="*{le_start}" required oninput="calculateDuration()">
      </div>
      <div class="form-group" id="endDateField">
        <label>종료일</label>
        <input type="date" id="endDate" th:field="*{le_end}" oninput="calculateDuration()">
      </div>
      <div class="form-group">
        <label>휴가 유형</label>
        <select id="leaveType" th:field="*{le_type}" onchange="toggleEndDateField()" required>
          <option value="연차">연차</option>
          <option value="반차">반차</option>
        </select>
      </div>
      <div class="form-group">
        <label>제목</label>
        <input type="text" id="leaveTitle" th:field="*{le_title}"  placeholder="휴가 신청 제목을 입력하세요" required></input>
      </div>
      <div class="form-group">
        <label>신청 사유</label>
        <textarea id="leaveReason" th:field="*{le_reason}" rows="4" placeholder="휴가 신청 사유를 입력하세요" required></textarea>
      </div>
      <div id="durationDisplay">
        사용휴가 : 0일
        <p>잔여휴가 : <span th:text="${employeeDTO.annualLeave}"></span></p>
      </div>
    </div>
    <button type="submit">신청</button>
  </form>
</div>
</div>
</body>
</html>